* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(33, 10, 97);
}
.wrapper {
  margin: 0 auto;
  width: 510px;
}

.score {
  width: 510px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.game__name {
  color: #fff;
  font-size: 36px;
  text-align: left;
  padding: 10px;
}
.score__box {
  width: 90px;
  height: 70px;
  background: #fff;
  color: #000;
  text-align: center;

  margin: 10px;
  border-radius: 10px;
}

.score__box > p {
  font-size: 36px;
}
#rock,
#scissors,
#paper,
.botAnswer {
  width: 200px;
  height: 200px;
  padding: 10px;
}

#rock:hover,
#scissors:hover,
#paper:hover {
  cursor: pointer;
}

.fightPlace {
  justify-content: space-between;
}

.bottonOff {
  opacity: 0.3;
  color: #fff;
}

#paperBox,
#rockBox,
#scissorsBox {
  width: 510px;
  display: flex;
  justify-content: space-between;
}

#rules {
  width: 120px;
  height: 30px;
  color: #fff;
  border: 1px solid #fff;
  background: rgb(33, 10, 97);
  border-radius: 5px;
  outline: none;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

button:hover {
  cursor: pointer;
}

#score__title {
  font-size: 24px;
}
#score {
  font-size: 32px;
}
